body {
    min-height: 800px;
    border: 8px solid black;
    display: flex;
    gap: 10px; 
    /* row-gap: 20px;
    column-gap: 10px; */
    /* flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center; */
    /* flex-direction: column; */
    /* justify-content: flex-start; */
    /* align-items: center; */ 
}

.box {
    /* flex-shrink: 1; */
    flex-grow: 1; 
    max-width: 300px;
    height: 200px;
    width: 200px;
    background-color: #0071FF;
    font-size: 40pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box-1 {
    flex-shrink: 0;
    flex-grow: 1;
}

